body{
    background-color:silver;
}
label{
    width:100px;
    display:inline-block;
}
.s1{
    margin-left:200px;
}
.s2{
    margin-left:100px;
}
.s3{
    margin-left:100px;
}
.s4
{
    margin-left:100px;
}
